*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.card{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
   
}
.card-event{
    width: 400px;
    height: 600px;
   
}
.card-container{
        height: 100%;
        width: 100%;
    border: medium solid black;
    border-radius: 10px;
    transition: transform 1500ms ease-in-out;
    perspective: 10px;
    transform-style: preserve-3d;
    margin: 10px 20px;
    box-shadow: 3px 6px 10px 0px rgb(62, 62, 62) ;
    
}
.card-fron{
  transform: rotateY(0deg);
  
  
}.card-back h5{
    font-size: clamp(15px,20px,4vw);
}
.card-back{
    color: gold;
 background-color: black;
    padding: 3%;
    transform: rotateY(180deg);
    position: relative;
}.card-back h1{
    text-align: center;
    margin-bottom: 5px;
    color: white;
    font-size: clamp(18px,24px,5vw);
}
.card-active{
    transform: rotateY(180deg);
}
.card-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
   
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}.card-footer a{
    background-color: green;
    width: 50%;
    min-width: 125px;
    height: 100%;
    color: white;
    border-radius: 10px;
    font-size: clamp(14px,18px,1.5rem);
    border: medium solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}.card-footer a img{
    height: 60%;
    width: 20%;
}

.card-footer a:hover{
    transform: translateY(-20px);
    border-color: rgb(37, 246, 5);
    z-index: 999;
    
}
.card-footer-fron{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    animation: move 2s linear infinite alternate;
}.card-footer-fron button{
    background-color: black;
    width: 40%;
    min-width: 125px;
    height: 100%;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    border: medium solid gold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer button:hover{
    transform: translateY(-20px);
    border-color: rgb(37, 246, 5);
    
}
img{
    height: 100%;
    max-width: 100%;
}




.nosotros{
    width: 100vw;
    height: max-content;
    position: relative;
}
.tittle{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(16px,35px,5vw);
    border: medium groove gold;
    margin-bottom: 20px;
}
.team-container{
    height: max-content; 
    position: relative;  
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    place-items: center center;
    margin-bottom: 25px;
    
}
/* Animacion boton click me */
@keyframes move {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-20px);
    }

}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .card-container{
        border: medium solid black;
        border-radius: 10px;
        transition: transform 1500ms ease-in-out;
        perspective: 10px;
        transform-style: preserve-3d;
        margin-bottom: 20px;
    }.card-container img{
        width: 100%;
    }.card-event{
        width: 80%;
        height: 60vh;
    }

    .team-container{
        grid-template-columns: repeat(1,1fr);
        gap: 30px 0px;
       }
    
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 577px) {

  
    .card-container img{
        width: 100%;
    }
    .team-container{
        grid-template-columns: repeat(1,1fr);
        gap: 30px 0px;
       }
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .team-container{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
       }
    
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .card-event{
        width: 350px;
    }
    .team-container{
        grid-template-columns: repeat(3,1fr);
        gap: 20px 10px;
        padding-right: 70px;
       }
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .team-container{
        grid-template-columns: repeat(4,1fr);
        gap: 20px 20px;
        
       }
    
}

